hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}

.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}

.breadcrumb {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  display: block;
}

.btn-bread{
  margin-top:10px;
  font-size: 12px;

  border-radius: 3px;
}


mat-card-content{
  margin-top: 50px;
}


.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;

}
.lds-heart div {
  width: 32px;
  height: 32px;
  background: red;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: red;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


@keyframes loading {
  0% {content:"\f2cb"; color:blue;}
  20%{content:"\f2ca";}
  40%{content:"\f2c9"; color:BlueViolet;}
  60%{content:"\f2c8";}
  80%{content:"\f2c7"; color:red;}
}

div.loading:after {
  font-family:FontAwesome;
  font-size:50px;
  animation-name:loading;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  color:blue;
  content:"\f2cb"
}

.anim-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(188, 237, 243, 0.4);
  animation: breathe 4s linear infinite  alternate;
}

@keyframes breathe {
  100% {
    box-shadow: 0 0 0 5px rgba(188, 237, 243, 0.7), 0 0 0 15px rgba(188, 237, 243, 0.6), 0 0 0 25px rgba(188, 237, 243, 0.5), 0 0 0 30px rgba(188, 237, 243, 0.4), 0 0 0 45px rgba(188, 237, 243, 0.3);
  }
}
