a {
  text-decoration: none;
  transition: background-color .5s;
  width: 100%;
}

a:hover {
  background-color: lightgray;
  width: 100%;
}


.nav-caption{
  padding-left: 10px ;
  font-size: 30px;
}

.main-card{
  width: 70%;
  background-color: white;
}

.button-container{
  display:inline-block;
  position:relative;
}

.profile-pic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
  margin: 50px 30px 50px 70px;
}

.user-name{
  font-weight: normal;
  font-size: xx-large;
  margin-top: 40px;
}

.progress-spinner{
  margin-top: 40px;
}

.profile-img{
  text-align: center;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: transparent;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.inactiveLink {
  pointer-events: none;
  cursor: auto;

}

.activeLink{
  cursor: pointer ;
}

.example-margin {
  margin: 0 10px;
}

.mat-tab-label{
  color:white;
  min-width: 25px !important;
  padding: 5px;
  background-color:transparent;
  color:blue;
  font-weight: bolder;
  font-size: x-large;
}

.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.white {
  color: white;
}

.graywhite{
  color: #a09c9c;
}


a:active{
  color : red;
  background-color: black;
}
