<div id="body1" style=" width: 100%; height: 885px;" fxLayout>
  <div class="container" id="login-background" fxFlex style="position: center; padding-top: 100px">
    <div class="row" style="margin-top: 40px">
      <div class="mx-auto" id="loading-spinner-row" class="row" *ngIf="isLoading">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-lg-5">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </div>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" *ngIf="!isLoading">
        <div class="alert alert-danger" style="height: 50px" *ngIf="error">
          <h4 style="text-align: center;font-size: 20px;color: red">{{error}}</h4>
        </div>
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center" style="font-weight: bolder"><span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span></h5>
            <form class="form-signin" (ngSubmit)="onSubmitForm(form)" #form="ngForm">
              <div class="form-group">
                <i class="fa fa-user fa-2x" aria-hidden="true" style="margin-bottom: 2px"></i>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" ngModel name="username" required autofocus>
              </div>
              <div class="form-group" class="fontpassword">
                <i class="fa fa-unlock-alt fa-2x" aria-hidden="true" style="margin-bottom: 2px"></i>
                <input [type]="passVis" id="inputPassword" class="form-control" placeholder="Password" ngModel name="password" required >
                <div>
                  <a style="cursor: pointer" (click)="toggleVisibiltiy()" *ngIf="passVis === 'text'"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  <a style="cursor: pointer" (click)="toggleVisibiltiy()" *ngIf="passVis === 'password'"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!form.valid" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
