:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

#body1{
  background-image: url("../../../assets/images/newimg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;

}

.fontpassword{
  position: relative;
}

.fontpassword div{
  position: absolute;
  left: 355px;
  top: 40px;
}


#loading-spinner-row{
  text-align: center;
  padding-top: 200px
}

.card-signin {
  border: 5px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
}
