body {
  background: #007bff;
  /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}

.card-signin {
  border: 5px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}


.card {
  border: 5px;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}
