a{
  color: white;
  text-decoration: none;
}

mat-list-item{
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav{
  height: 100%;
}
mat-toolbar{
  width: 100%;
  color: black;
}

.title{
  font-weight: bolder;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}


