body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
  border: 5px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.bg {
  /* The image used */
  background-image: url("../../assets/images/pregnant-woman-thinking-of-baby.jpg");

  /* Full height */
  height: 100%;
  height: 490px;
  right: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
