<div class="row bg">
  <div class="col-1" style="width: 100%; height: 100%"></div>
  <div class="col-6" style="width: 100%; height: 100%; margin-top: 4cm">
    <h2 style="color: blue; font-weight: bold; font-size: x-large">WE CARE ABOUT</h2>
    <h1 style="color: blue; font-weight: bold; font-size: xx-large">YOU AND YOUR BABY</h1>
  </div>
</div>
<div class="row" style="margin-bottom: 2cm">
  <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
    <div class="card-signin p-2">
      <ul class="list-group list-group-horizontal mx-auto">
        <li
          ngbDropdown
          class="list-group-item flex-fill dropdown"
          style="text-align: center"
        >
          <i class="fa fa-user-md fa-4x" aria-hidden="true"></i>

          <p style="text-align: center; font-weight: bolder">
            You can book a nearby doctor
          </p>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown1"
            style="width: 100%"
          >
            <button ngbDropdownItem class="dropdown-item">baby</button>
          </div>
        </li>
        <li
          ngbDropdown
          class="list-group-item flex-fill dropdown"
          style="text-align: center"
        >
          <i class="fa fa-hospital-o fa-4x" aria-hidden="true"></i>
          <p style="text-align: center; font-weight: bolder">
            You can book a nearby hospital programs
          </p>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown1"
            style="width: 100%"
          >
            <button ngbDropdownItem class="dropdown-item">mother</button>
          </div>
        </li>
        <li
          ngbDropdown
          class="list-group-item flex-fill dropdown"
          style="text-align: center"
        >
          <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>

          <p style="text-align: center; font-weight: bolder">
            You can make virtual visits
          </p>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown1"
            style="width: 100%"
          >
            <button ngbDropdownItem class="dropdown-item">mother</button>
          </div>
        </li>
        <li
          ngbDropdown
          class="list-group-item flex-fill dropdown"
          style="text-align: center"
        >
          <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
          <p style="text-align: center; font-weight: bolder">
            You can monitor your baby with mobile app
          </p>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown1"
            style="width: 100%"
          >
            <button ngbDropdownItem class="dropdown-item">mother</button>
          </div>
        </li>
      </ul>
    </div>
    <hr class="featurette-divider" style="margin-top: 2cm">

    <div class="row featurette" style="margin-top: 2cm">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-weight: bolder; font-size: xx-large; color: blue">Baby Monitoring</h2>
        <p class="lead"> You will be able to monitor your baby 24 hours without anxiety either inside or outside the home
        </p>
        <ul>
          <li class="lead">
            <p class="lead">Monitor baby vital signs</p>
          </li>
          <li class="lead">
            <p class="lead">Monitor baby status with a camera and alarm parents if there is any a danger</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/0245d856404047.59adb0b0ad70a.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider" style="margin-top: 2cm">

    <div class="row featurette" style="margin-top: 2cm">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading " style="font-weight: bolder; font-size: xx-large; color: blue">keep your fitness & health</h2>
        <p class="lead"> There are many benefits you can get from doing exercise during pregnancy such as:
         </p>
        <ul>
          <li>
            <p class="lead">Reduces backaches, constipation, bloating, and swelling.</p>
          </li>
          <li>
            <p class="lead">May help prevent or treat gestational diabetes.</p>
          </li>
          <li>
            <p class="lead"> Improves your mood.</p>
          </li>
          <li>
            <p class="lead"> Promotes muscle tone, strength, and endurance.</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://compote.slate.com/images/14080302-bf15-4a37-85d8-289fb958e74f.jpeg?width=780&height=520&rect=2200x1467&offset=0x0" alt="Generic placeholder image">
      </div>
    </div>
</div>
</div>

